<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <api>
      <GraphQL>
        <!--<defaults>
          <content>
            <standardFieldsResolver>
              <supportedStandardFields>
                <field name="blog_categories_sm"/>
                <field name="blog_tags_sm"/>
              </supportedStandardFields>
            </standardFieldsResolver>
          </content>
        </defaults>
        <endpoints>
          <edge type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost">
            <schema hint="list:AddSchemaProvider">
              <whoDat type="XmCloudAuthoring.Services.GraphQL.SchemaProviders.WhoAmISchemaProvider, XmCloudAuthoring" />
            </schema>
            <extenders hint="list:AddExtender">
              <standardFieldsExtender type="Sitecore.Services.GraphQL.EdgeSchema.Extenders.StandardFieldsExtender, Sitecore.Services.GraphQL.EdgeSchema">
                <standardFieldsResolver ref="/sitecore/api/GraphQL/defaults/content/standardFieldsResolver"/>
              </standardFieldsExtender>
              <simpleExtender type="XmCloudAuthoring.Services.GraphQL.SchemaExtenders.WhoAmISchemaExtender, XmCloudAuthoring" />
            </extenders>
          </edge>
        </endpoints>-->

        <defaults>
          <content>
            <!--<standardFieldsResolver type="Sitecore.Services.GraphQL.EdgeSchema.StandardFields.StandardFieldsResolver, Sitecore.Services.GraphQL.EdgeSchema">
              <patch:delete></patch:delete>
            </standardFieldsResolver>-->
            <customFieldsResolver type="XmCloudAuthoring.Services.GraphQL.SchemaExtenders.CustomFieldsResolver, XmCloudAuthoring">
              <supportedStandardFields hint="raw:AddSupportedStandardField">
                <field name="__Created" />
                <field name="__Updated" />
                <field name="__Sortorder" />
                <field name="__Semantics" />
                <field name="blog_categories_sm" />
                <field name="blog_tags_sm" />
              </supportedStandardFields>
            </customFieldsResolver>
          </content>
        </defaults>
        <endpoints>
          <edge type="Sitecore.Services.GraphQL.Hosting.GraphQLEndpoint, Sitecore.Services.GraphQL.NetFxHost">
            <schema hint="list:AddSchemaProvider">
              <whoDat type="XmCloudAuthoring.Services.GraphQL.SchemaProviders.WhoAmISchemaProvider, XmCloudAuthoring" />
            </schema>
            <extenders hint="list:AddExtender">
              <standardFieldsExtender type="Sitecore.Services.GraphQL.EdgeSchema.Extenders.StandardFieldsExtender, Sitecore.Services.GraphQL.EdgeSchema">
                <patch:delete></patch:delete>
              </standardFieldsExtender>
              <customFieldsExtender type="XmCloudAuthoring.Services.GraphQL.SchemaExtenders.CustomFieldsSchemaExtender, XmCloudAuthoring">
                <customFieldsResolver ref="/sitecore/api/GraphQL/defaults/content/customFieldsResolver" />
              </customFieldsExtender>
              <simpleExtender type="XmCloudAuthoring.Services.GraphQL.SchemaExtenders.WhoAmISchemaExtender, XmCloudAuthoring" />
            </extenders>
          </edge>
        </endpoints>
      </GraphQL>
    </api>
  </sitecore>
</configuration>