<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<group groupName="layoutService">
				<pipelines>
					<getLayoutServiceContext>
						<processor type="XmCloudAuthoring.Services.GraphQL.Procesors.ExampleContextExtension, XmCloudAuthoring" resolve="true">
							<AllowedConfigurations hint="list">
								<!-- Unless you change the Layout Service config used by your JSS app, this should always be present. -->
								<jss>sxa-jss</jss>
							</AllowedConfigurations>
							<Applications hint="list">
								<!-- Restrict the JSS apps for which this processor will execute. -->
								<reactApp>nextjs-starter</reactApp>
							</Applications>
							<Routes hint="list">
								<!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
								<services>/sitecore/content/StarterSites/nextjs-starter/Home*</services>
								<portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio>
							</Routes>
						</processor>
					</getLayoutServiceContext>
				</pipelines>
			</group>
		</pipelines>
		<powershell>
			<userAccountControl>
				<tokens>
					<token name="Default">
						<patch:attribute name="elevationAction">Allow</patch:attribute>
					</token>
					<token name="Console">
						<patch:attribute name="elevationAction">Allow</patch:attribute>
					</token>
					<token name="ISE">
						<patch:attribute name="elevationAction">Allow</patch:attribute>
					</token>
					<token name="ItemSave">
						<patch:attribute name="elevationAction">Allow</patch:attribute>
					</token>
				</tokens>
			</userAccountControl>
		</powershell>
	</sitecore>
</configuration>