<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
	xmlns:set="http://www.sitecore.net/xmlconfig/set/"
	xmlns:role="http://www.sitecore.net/xmlconfig/role/"
	xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore>
		<contentSearch search:require="solr">
			<indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="blog_categories" returnType="stringCollection"/>
              <field fieldName="blog_tags" returnType="stringCollection"/>
						</fieldNames>
					</fieldMap>
					<documentOptions
						type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="blog_categories" storageType="YES" indexType="TOKENIZED"
								type="XmCloudAuthoring.Indexes.ComputedFields.BlogCategoryNamesComputedField, XmCloudAuthoring" />
							<field fieldName="blog_tags" storageType="YES" indexType="TOKENIZED"
								type="XmCloudAuthoring.Indexes.ComputedFields.BlogTagNamesComputedField, XmCloudAuthoring" />
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>